/*Mobile-version*/

.responsive-shape {
    width: 200px;
    height: 200px;
    background: slategrey;
    border: 1px solid black;
    margin: 20px auto;
    transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


/*MobileV*/

.container {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.square {
    width: 100px;
    height: 100px;
    transition: all 1s ease;
}

.slateblue {
    background: slateblue;
}

.black {
    background: #000000;
}

.green {
    background: #008000;
}

.d-flex {
    display: flex;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

header nav {
    background: #333333;
    color: white;
    width: 100vw;
    height: 50px;
    box-shadow: 5px 5px 5px #acacac;
}

header nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

header nav ul li:not(last-of-type) {
    padding: 10px;
    text-decoration: underline;
    border-right: 1px solid white;
}

section {
    width: calc(100vw - 30px);
    margin: 15px auto;
    border: 1px solid #333333;
    box-shadow: 5px 5px 5px #acacac;
    border-radius: 5px;
    padding: 15px;
}

section article {
    width: 100%;
    margin: 15px auto;
    border: 1px solid #333333;
    box-shadow: 5px 5px 5px #acacac;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

section article p {
    font-style: italic;
    padding: 15px;
}

aside {
    width: calc(100vw - 30px);
    margin: 15px auto;
    border: 1px solid #333333;
    box-shadow: 5px 5px 5px #acacac;
    border-radius: 5px;
    padding: 15px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    height: 30px;
    border-bottom: #333333;
}

aside ul li:last-of-type {
    border: none;
}

footer {
    width: 100vw;
    background: #333333;
    color: white;
    padding: 15px;
}

footer div span {
    text-decoration: underline;
}


/*Tablet-version*/

@media only screen and (min-width: 520px) {
    .responsive-shape {
        width: 100px;
        background: rgb(14, 41, 69);
    }
    .slateblue,
    .green {
        opacity: 0;
    }
}


/*Desktop-version*/

@media only screen and (min-width: 1024px) {
    .responsive-shape {
        width: 200px;
        background: peru;
        border-radius: 100%;
    }
    .slateblue,
    .green {
        opacity: 1;
    }
    .black {
        opacity: 0;
    }
    .content-wrapper {
        display: flex;
    }
}