/*Mobile-version*/

.responsive-shape {
    width: 200px;
    height: 200px;
    background: slategrey;
    border: 1px solid black;
    margin: 20px auto;
    transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


/*MobileV*/

.container {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.square {
    width: 100px;
    height: 100px;
    transition: all 1s ease;
}

.slateblue {
    background: slateblue;
}

.black {
    background: #000000;
}

.green {
    background: #008000;
}


/*Tablet-version*/

@media only screen and (min-width: 520px) {
    .responsive-shape {
        width: 100px;
        background: rgb(14, 41, 69);
    }
    .slateblue,
    .green {
        opacity: 0;
    }
}


/*Desktop-version*/

@media only screen and (min-width: 1024px) {
    .responsive-shape {
        width: 200px;
        background: peru;
        border-radius: 100%;
    }
    .slateblue,
    .green {
        opacity: 1;
    }
    .black {
        opacity: 0;
    }
}