*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
} 

.square{
    width: 100px;
    height: 100px;
}


.red{
    background: red;
}

.peru{
    background: peru;
}

.blue{
    background: blue;
}

.d-inline-block{
    display: inline-block;
    
}

.justify-content-center{
    justify-content: center;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-evenly{
    justify-content: space-evenly;
}
.wrapper{
   width: 100vw;
   height: 15vh;
   border: 1px solid navy;
   margin-bottom: 20px;
   display: flex;
}


.relative-centered{
    margin-left: calc(50vw - 50px);

}

.margin-centered{
    margin-left: auto;
    margin-right: auto;
}